.meal{
  width: 296px;
  border: 2px solid rgba(128, 128, 128, 0.542);
  border-radius: 7px;
}
.meal-info{
  margin-left: 12px;
}
.food-title{
  margin-top: 0;
}
.order-btn{
  width: 100%;
  height: 45px;
  margin-top: 10px;
  background-color: #e284268e;
  border: none;
  border-radius: 0 0 5px 5px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-btn:hover{
  background-color: #ef9841;
}