.header{
  position: sticky;
  top: 0;
  height: 80px;
  background-color: #171717;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-title{
  color: wheat;
  margin-left: 100px;
}
.nav-item{
  margin-right: 100px;
}
.nav-item a{
  color: wheat;
  text-decoration: none;
  margin-right:20px;
}
.nav-item a:hover{
  color: #ef9841;
}